@{
    ViewBag.Title = "Home Page";
}



<div class="row gray-div">
    <p class="heading-position">For INTERNAL use only !</p>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-auto thumbnail-position">
        <a href="@Url.Action("Inventory", "Home")">
            <div class="gray-div thumbnail">
                <p>Browse inventory</p>
                <img src="~/Content/Images/inventory.jpg" class="rounded" alt="Browse by invenetory">
            </div>
        </a>
    </div>
    <div class="col">
        <a href="@Url.Action("Author", "Home")">
            <div class="gray-div thumbnail">
                <p>Browse by Author</p>
                <img src="~/Content/Images/author.jpg" class="rounded" alt="Browse by author">
            </div>
        </a>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-auto thumbnail-position">
        <a href="@Url.Action("Publisher", "Home")">
            <div class="gray-div thumbnail">
                <p>Browse by Publisher</p>
                <img src="~/Content/Images/publisher.jpg" class="rounded" alt="Browse by publisher">
            </div>
        </a>

    </div>
    <div class="col">
        <a href="@Url.Action("Location", "Home")">
            <div class="gray-div thumbnail">
                <p>Browse by Location</p>
                <img src="~/Content/Images/bookstore.jpg" class="rounded" alt="Browse by location">
            </div>
        </a>
    </div>
</div>