@model List<Henry_s_Bookstore.Models.INVENTORY>

@{
    ViewBag.Title = "Inventory";
}

<h2>Inventory</h2>
<div class="row">
    <div class="col-4">
        @Html.Partial("_Menu");
    </div>
    <div class="col">
        @foreach (var inventory in Model)
        {
            <div>
                <h4>INVENTORY</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @inventory.ON_HAND
                    </dt>


                    <dt>
                        @inventory.BOOK.TITLE
                    </dt>

                    <dt>
                        @inventory.BRANCH.BRANCH_NAME
                    </dt>

                </dl>
            </div>
        }
    </div>
</div>
